/* Login Styles */
body
{
	background: #f5f5f5;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'Roboto', sans-serif;
	position: relative;
}



.login_wraper
{
	padding-bottom: 75px;
}
.sp-login_container
{
	max-width: 500px;
    padding: 25px 50px;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
    margin: auto;
    margin-bottom: 10vh;
    border-radius: 4px;
    position: relative;
    top: 10vh;
}
.sp-login_block
{
	    max-width: 350px;
    margin: auto;
}
.sp-logo_icon
{
	text-align: center;
}
.sp-login_title
{
	text-align:center;
}
.sp-login_title > h2
{
	font-weight: 700;
}
.sp-login_form--block
{
	clear:both;
	
}
.sp-login_footer
{
	text-align: center;
	font-size: 13px;
}
.sp-forgot_link
{
	text-align: center;
	font-size: 13px;
	font-weight: 500;
	margin-top: 7px;
    margin-bottom: 0;
}
.sp-forgot_link a
{
	color: rgb(20, 127, 63);
}
.sp-login_footer > p
{
	color: rgba(0,0,0,0.54);
}
.sp-login_footer p > span
{
	
}
.sp-login_footer a
{
	font-weight: 500;
	color: rgba(0,0,0,0.75);
}
.sp-login_footer span
{
display: block;
    border-top: solid 1px rgba(0,0,0,0.15);
    padding-top: 5px;
    margin-top: 20px;
}





@media (max-width:767px)
{
	.login_wraper {
    	padding-bottom: 100px;
	}
	.sp-global_footer
	{
		padding: 0;
	}
	.sp-global_footer ul
	{
		justify-content: center;
	}
	.sp-global_footer ul li
	{
		width: auto;
    	margin-bottom: 15px;
	}
}
